################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Publish
/Source/AbidzarFrm/AbidzarFrm.Web/bin
/Source/AbidzarFrm/AbidzarFrm.Web/obj/Debug
