@model AbidzarFrm.Rukuntangga.Entities.TbDetailJenisInformasiRow
@{
    ViewData["Title"] = "Berita";
}
@{
    if (Model != null)
    {
        var img = (Model.NamaFile == null || string.IsNullOrEmpty(Model.NamaFile)) ? "../../Content/adminlte/img/avatar0.png" : VirtualPathUtility.ToAbsolute("~/upload/") + Model.NamaFile;
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body img-responsive" style="height:auto">
                        <i class="fa fa-book margin-r-5"></i><a href="javascript:GetBerita(@Model.IdJenisInformasi)" style="cursor:pointer;color:dodgerblue;"><strong>@Model.IdJenisInformasiJenisInformasi</strong></a>
                        <span class="text-muted">@Model.DibuatTanggal.Value.ToString("dd/MM/yyyy")</span>
                        @Html.Raw(HttpUtility.HtmlDecode(Model.Deskripsi))

                    </div>
                </div>
            </div>
        </div>
    }
}


