@model  List<AbidzarFrm.Administration.Entities.UserRow>

<ul class="users-list clearfix" id="divUserMember">
    @foreach (var item in Model)
    {
        var userImage = (item.UserImage == null || string.IsNullOrEmpty(item.UserImage)) ? "../../Content/adminlte/img/avatar0.png" : VirtualPathUtility.ToAbsolute("~/upload/") + item.UserImage;

    <li>

        <a class="users-list-name"  href="#AbidzarFrameModalFormEdit" onclick="Modal('Rukuntangga/Warga/Details','@item.KtpId','#AbidzarFrameModalFormEdit')" data-toggle="modal" title="View">
            <img src="@userImage" height="150" width="150" alt="User Image">
        </a>
        <span style="color:orangered; text-shadow: 1px 1px 0 rgba(0, 0, 0, .2)">@item.DisplayName</span> 

    </li>
    }
</ul>