@model  List<AbidzarFrm.Administration.Entities.UserRow>

@{
    ViewData["Title"] = "List User";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Latest Members</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group input-group-sm" style="margin-top:5px;margin-left:5px;margin-right:5px;">
                                    <select class="form-control" id="ddlTotalCount">
                                        <option selected="selected">10</option>
                                        <option>50</option>
                                        <option>100</option>
                                        <option>1000</option>
                                        <option value="1000000">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="input-group input-group-sm" style="margin-top:5px;margin-left:5px;margin-right:5px;">
                                    <input type="text" id="txtInput" onkeypress="return SearchUserKey(event)" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info btn-flat" onclick="SearchUser()" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <ul class="users-list clearfix">
                            @Html.Partial("../../Modules/Rukuntangga/UserMember/_UserMemberList")
                        </ul>
                    </div>
                    <div class="box-footer text-center">
                        <a href="javascript:SearchUser(1000000)" class="uppercase">View All Users</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ddlTotalCount").change(function () {
            SearchUser();
        });
    })

    function SearchUser(totalCount) {
        var path = location.origin + "/Rukuntangga/UserMember/GetUser/";
        var txtTotalcount;
        if (totalCount == null) {
            var e = document.getElementById("ddlTotalCount");
            txtTotalcount = e.options[e.selectedIndex].value;
        } else {
            var e = document.getElementById("ddlTotalCount");
            e.value = 1000000;
            txtTotalcount = totalCount;
        }

        var txtFilter = $("#txtInput").val()

        $.ajax({
            data: {
                filter: txtFilter,
                totalcount: txtTotalcount
            },
            cache: false,
            url: path,
            //traditional: true,
            //type: 'POST',
            //dataType: "json",
            async: true,
            success: function (data) {
                $("#divUserMember").html(data);
            },
            error: function (jqXHR, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });

    }
    function SearchUserKey(e) {
        if (e.keyCode == 13) {
            SearchUser();
        }
    }
</script>
