{
    "RootNamespace": "AbidzarFrm",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=AbidzarFrm_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=AbidzarFrm_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "PTISMN_FIN_DEV",
            "ConnectionString": "Data Source=SQLDEV03-SVR; Initial Catalog=PTISMN_FIN_DEV;Uid=sa;Password=B4nd0ng",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "PTISMNFIN",
            "ConnectionString": "Data Source=SQLDEV03-SVR; Initial Catalog=PTISMN_FIN_DEV;Uid=sa;Password=B4nd0ng",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Rukuntangga",
            "ConnectionString": "Data Source=198.38.83.33; Initial Catalog=elboz79_rukuntangga; Uid=elboz79_rukuntan;Password=4oxaNgs#erUw1",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.TbDetailPemilu",
                    "Identifier": "TbDetailPemilu",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Questioner:Pemilu"
                },
                {
                    "Tablename": "dbo.AppointmentDiary",
                    "Identifier": "AppointmentDiary",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TbAutentikasiToken",
                    "Identifier": "TbAutentikasiToken",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TbAgama",
                    "Identifier": "TbAgama",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TbBiodata",
                    "Identifier": "TbBiodata",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:Rw"
                },
                {
                    "Tablename": "dbo.TbDetailJenisInformasi",
                    "Identifier": "TbDetailJenisInformasi",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Informasi:General"
                },
                {
                    "Tablename": "dbo.TbDetailJenisKegiatan",
                    "Identifier": "TbDetailJenisKegiatan",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Kegiatan:General"
                },
                {
                    "Tablename": "dbo.TbDokumentasiDetailJenisKegiatan",
                    "Identifier": "TbDokumentasiDetailJenisKegiatan",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Kegiatan:General"
                },
                {
                    "Tablename": "dbo.TbEmailTemplate",
                    "Identifier": "TbEmailTemplate",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Security:EmailTemplate"
                },
                {
                    "Tablename": "dbo.TbErrorLogs",
                    "Identifier": "TbErrorLogs",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Security:ErrorLog"
                },
                {
                    "Tablename": "dbo.TbGolonganDarah",
                    "Identifier": "TbGolonganDarah",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TbHistoricalUserLogin",
                    "Identifier": "TbHistoricalUserLogin",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Security:HistorycalLogin"
                },
                {
                    "Tablename": "dbo.TbJabatan",
                    "Identifier": "TbJabatan",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:Jabatan"
                },
                {
                    "Tablename": "dbo.TbJadwalSiskamlim",
                    "Identifier": "TbJadwalSiskamlim",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TbJenisInformasi",
                    "Identifier": "TbJenisInformasi",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Informasi:General"
                },
                {
                    "Tablename": "dbo.TbJenisKegiatan",
                    "Identifier": "TbJenisKegiatan",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Kegiatan:General"
                },
                {
                    "Tablename": "dbo.TbKecamatan",
                    "Identifier": "TbKecamatan",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:Kecamatan"
                },
                {
                    "Tablename": "dbo.TbKelurahan",
                    "Identifier": "TbKelurahan",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:Kelurahan"
                },
                {
                    "Tablename": "dbo.TbKewarganegaraan",
                    "Identifier": "TbKewarganegaraan",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TbKota",
                    "Identifier": "TbKota",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:Kota"
                },
                {
                    "Tablename": "dbo.TbKtp",
                    "Identifier": "TbKtp",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:Ktp"
                },
                {
                    "Tablename": "dbo.TbLaporanKas",
                    "Identifier": "TbLaporanKas",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:LaporanKas"
                },
                {
                    "Tablename": "dbo.TbListOfValue",
                    "Identifier": "TbListOfValue",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Security:ListOfValue"
                },
                {
                    "Tablename": "dbo.TbMenu",
                    "Identifier": "TbMenu",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TbParameter",
                    "Identifier": "TbParameter",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Security:Parameter"
                },
                {
                    "Tablename": "dbo.TbPemilu",
                    "Identifier": "TbPemilu",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Questioner:Pemilu"
                },
                {
                    "Tablename": "dbo.TbPendidikan",
                    "Identifier": "TbPendidikan",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TbPhotoKtp",
                    "Identifier": "TbPhotoKtp",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TbPollingPemilu",
                    "Identifier": "TbPollingPemilu",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.TbProvinsi",
                    "Identifier": "TbProvinsi",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:Provinsi"
                },
                {
                    "Tablename": "dbo.TbRt",
                    "Identifier": "TbRt",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:Rt"
                },
                {
                    "Tablename": "dbo.TbRw",
                    "Identifier": "TbRw",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:Rw"
                },
                {
                    "Tablename": "dbo.TbSlideShow",
                    "Identifier": "TbSlideShow",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:Slideshow"
                },
                {
                    "Tablename": "dbo.TbStruktur",
                    "Identifier": "TbStruktur",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:Struktur"
                },
                {
                    "Tablename": "dbo.TbTanyaRt",
                    "Identifier": "TbTanyaRt",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:TanyaRt"
                },
                {
                    "Tablename": "dbo.TbTanyaRtDetail",
                    "Identifier": "TbTanyaRtDetail",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:TanyaRt"
                },
                {
                    "Tablename": "dbo.TbTestimoni",
                    "Identifier": "TbTestimoni",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Master:Testimoni"
                },
                {
                    "Tablename": "dbo.TbUser",
                    "Identifier": "TbUser",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Security:User"
                },
                {
                    "Tablename": "dbo.TbUserApi",
                    "Identifier": "TbUserApi",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Security:UserApi"
                },
                {
                    "Tablename": "elboz79_rukuntan.TbMailLog",
                    "Identifier": "TbMailLog",
                    "Module": "Rukuntangga",
                    "ConnectionKey": "Rukuntangga",
                    "PermissionKey": "Security:MailLog"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\AbidzarFrm\\AbidzarFrm.Web\\AbidzarFrm.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}