@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Rukuntangga.TbTransactionFlow.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AbidzarFrm.Rukuntangga.TbTransactionFlowGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>